doctype html
html(lang="en")
    head
        title Landing Page
        body
            h1 The future home of something magical.
            p Meet patiently like an ordinary nanomachine. The delighted c-beam mechanically outweighs the proton.  Space suits meet from lifes like futile starships.
            br
            ol
                li Learn how to use pug
                li Learn additional methods of Express.js
                li Integrate it into PHPStorm
                li Get familiar with PrePros